body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  /* flex-direction: row-reverse; */
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 40px;
  min-height: 40px;
  align-items: center;
}

header a {
  margin: 0px 10px;
  text-decoration: none;
  color: gray;
}

header a:focus,
header a:hover {
  color: black;
}

header .header_logo {
  color: black;
  font-weight: 600;
  font-size: 18px;
}
/* footer */
footer {
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer a {
  text-decoration: none;
  color: gray;
}

footer a:focus,
footer a:hover {
  color: black;
}

/* post nagivator */
.post_navigator {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  max-width: 600px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  padding: 48px 20px 0px 20px;
}
.post_navigator--active {
  color: black;
  font-weight: 600;
}
/* post list, post detail*/
.post_list,
.post_detail {
  min-height: 90vh;
  max-width: 600px;
  padding: 20px;
  text-align: left;
  margin: 0 auto;
  line-height: 24px;
}

.post_list a {
  text-decoration: none;
  color: black;
}

.post_box {
  padding-top: 24px;
  border-top: 1px solid #f2f2f2;
}

.post_profile_box {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.post_profile {
  width: 36px;
  height: 36px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.post_date,
.post_author {
  color: gray;
}

.post_title {
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0px;
}

.post_text {
  color: dimgray;
  font-size: 16px;
}

.post_util_box {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  font-size: 14px;
  color: gray;
}
.post_delete:hover,
.post_delete:focus,
.post_edit:hover,
.post_edit:focus,
.post_edit a:hover,
.post_edit a:focus {
  color: black;
}

.post_delete {
  cursor: pointer;
}
.post_edit a {
  text-decoration: none;
  color: gray;
}
/* post_detail */

.post_detail .post_title {
  font-size: 36px;
  line-height: 40px;
}

.post_detail .post_util_box {
  padding: 10px 0px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  flex-direction: row;
}
.post_detail .post_profile_box {
  padding: 10px 0px;
}

.post_detail .post_text {
  padding: 20px 0px;
}

/* profile */

.profile_box {
  display: flex;
  gap: 18px;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
  line-height: 24px;
  justify-content: center;
  padding: 20px;
}

.flex_box-lg {
  display: flex;
  gap: 18px;
  align-items: center;
}

.profile_image {
  width: 72px;
  height: 72px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.profile_name {
  font-size: 16px;
  padding-top: 4px;
}
.profile_email {
  font-weight: 500;
}

.profile_logout {
  color: gray;
  font-size: 14px;
}

.profile_logout:hover,
.profile_logout:focus {
  color: black;
}

/* carousel */

.carousel {
  margin: 0 auto;
  max-width: 980px;
  margin-top: 36px;
}

ul.carousel_slides {
  display: block;
  position: relative;
  height: 400px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.carousel_slides {
  user-select: none;

  /* 옛 브라우저 호환성 대비 */
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.carousel_slides input {
  display: none;
}

.slide_container {
  display: block;
}

.slide_img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.slide_img img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel_controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 400px;
  color: #fff;
}

.carousel_controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 1;
  transition: opacity 0.2s;
  cursor: pointer;
}
.slide_img:hover + .carousel_controls label {
  opacity: 0.5;
}

.carousel_controls label:hover {
  opacity: 1;
}
.carousel_controls .previous_slide {
  width: 49%;
  text-align: left;
  left: 0;
}
.carousel_controls .next_slide {
  width: 49%;
  text-align: right;
  right: 0;
}
.carousel_dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel_dots .carousel_dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .slide_container .slide_img {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide_container .carousel_controls label {
  display: block;
}

input#img-1:checked ~ .carousel_dots label#img_1_dot,
input#img-2:checked ~ .carousel_dots label#img_2_dot,
input#img-3:checked ~ .carousel_dots label#img_3_dot {
  opacity: 1;
}

input:checked + .slide_container .nav label {
  display: block;
}

/* form */
.form {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;
  margin-top: 20px;
}

.form input {
  height: 20px;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  /* max-width: 680px; */
  width: 96%;
}
.form textarea {
  height: 20px;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  min-height: 400px;
  line-height: 1.5;
  width: 96%;
}

.form .form_block {
  margin-top: 20px;
  width: 100%;
}

.form label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}
.form .form_btn-submit {
  width: 100%;
  font-size: 16px;
  height: 48px;
  padding: 10px;
  float: right;
  margin: 0 auto;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
}

.form .form_btn-submit:hover,
.form .form_btn-submit:focus {
  background-color: #1945a4;
}

/* login form */

.form--lg {
  min-height: 100px;
  margin-top: 10px;
}

.form_title {
  text-align: center;
  margin-bottom: 4px;
}

.form_link {
  margin-left: 10px;
  color: gray;
  text-decoration: none;
}

.form_link:hover,
.form_link:focus {
  color: black;
}
